<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>BlogHub: About</title>
  </head>
  
    <style>
      body{
        font-family: "Montserrat", sans-serif;
      }
    </style>
  <body>
    <%- include("./partials/nav") %> <% if (locals.user) { %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h1
            class="title-text"
            style="color: #ff9900; font-weight: bold; font-size: 2.5rem"
          >
            Change Your Password...
          </h1>
          <form action="/user/profile/change-password" method="post">
            <div class="form-control d-flex flex-column">
              <label for="email" class="col-form-label"">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="john.doe@gmail.com"
                required
              />

              <label for="oldPassword" class="col-form-label">Old Password</label>
              <input
                type="password"
                name="oldPassword"
                class="form-control"
                placeholder="Enter current password"
                required
              />

              <label for="oldPassword" class="col-form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                name="newPassword"
                placeholder="Enter New password"
                required
              />
              <div id="emailHelp" class="form-text">Create a strong password.......</div>
              <label for="oldPassword" class="col-form-label">Confirm Password</label>
              <input
                type="password"
                name="confirmPassword"
                class="form-control"
                placeholder="Confirm password"
                required
              />
              <button type="submit" class="btn btn-primary mt-4">Update</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>

    <% } %>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
  </body>
  </html>
